.blog-section {
  padding: 5em;
}

.blog-section h2 {
  font-size: 2.5rem;
  margin-bottom: 1.3em;
  color: var(--color-brown);
  font-weight: 500;
  text-align: center;
}

.blog-grid {
    display: grid;
    gap: 3em;
    justify-content: center;
}

.blog-content {
  display: flex;
  align-items: center;
  border: 2px solid rgba(144, 144, 144, 0.5);
  margin-bottom: 2em;
  width: 60vw;
  height: auto;
}

.blog-image {
  width: 40%;
  height: auto;
  object-fit: cover;
}

.blog-content p {
  color: var(--color-text);
  line-height: 1.6;
  font-size: 1.3rem;
}

.blog-content h3 {
  font-size: 1.4rem;
  font-weight: normal;
  text-align: center;
  color: var(--color-brown);
  margin-bottom: 1em;
  }

  .blog-text{
    padding: 2em;
    width: 60%;
    box-sizing: border-box;
  }

  /*АДАПТАЦИЯ ПОД ПЛАНШЕТ*/
@media (min-width: 810px) and (max-width: 1024px){
  .blog-section {
    padding: 3em;
  }

  .blog-section h2 {
    font-size: 2.2rem;
  }

  .blog-grid {
    grid-template-columns: 1fr;
    gap: 2em;
  }

  .blog-content {
    flex-direction: column;
    width: 70vw;
    height: auto;
    margin: 0 auto;
    margin-bottom: 1.5em;
  }

  .blog-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .blog-text {
    padding: 1.5em;
    width: 100%;
    box-sizing: border-box;
  }

  .blog-content p {
    font-size: 1.2rem;
  }
}

/*АДАПТАЦИЯ ПОД ТЕЛЕФОН*/
@media (min-width: 390px) and (max-width:809px){
  .blog-section {
    padding: 2em;
  }

  .blog-section h2 {
    font-size: 2rem;
  }
    .blog-content {
    flex-direction: column;
    height: auto;
    margin: 0 auto;
    margin-bottom: 1.5em;
    width: 84vw;
  }

    .blog-grid {
    grid-template-columns: 1fr;
    gap: 2em;
  }

  .blog-content h3 {
    font-size: 1.3rem;
  }

  .blog-content p {
    font-size: 1.1rem;
  }

  .blog-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .blog-text {
    width: 100%;
    box-sizing: border-box; 
  }
}


@media (min-width: 1023px) and (max-width: 1650px){
  .blog-content {
  display: flex;
  align-items: center;
  border: 2px solid rgba(144, 144, 144, 0.5);
  margin-bottom: 2em;
  width: 85vw;
  height: auto;
}

.blog-image {
  width: 40%;
  height: auto;
  object-fit: cover;
}

  .blog-content p {
    font-size: 1.1rem;
  }

.blog-content h3 {
  font-size: 1.2rem;
  }

  .blog-text {
    width: 60%;
    box-sizing: border-box;
  }
}